.pagination{
    background-color:$light-gray ;
    padding-right: 0;
    padding-top:25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-color: $platinum;
    text-align: center;
    .page-link{
        color: $eerie-black;
    }
   
}
.page-item.active .page-link{
    background-color: $nickel;
    border:none;
}
.page-item:first-child .page-link {
border-radius: 1.5625rem 0px 0px 1.5625rem;
}
.page-item:last-child .page-link {
border-radius:0px 1.5625rem 1.5625rem 0px;
}

@media (max-width: 767.9px) { 
    .page-item.active .page-link{
        background-color: $eerie-black;
        border:none;
    }    

}