header{
    background-image: url(../img/post-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    color: white;
    text-align: center;
    align-items: middle;
    padding-top:40% ;
    font-size: 4rem;

    }

