.navbar{
    background-color: $eerie-black;
    color: $white;
    &__logo{
        width: 15rem;  
        padding: 2% 0% 2% 10%;
    }
    
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color:$ruddy-pink;
}

.navbar-dark .navbar-toggler{
    color:$white;
    border-color: transparent;
}

@media (max-width: 768px) { 
    .navbar{
        &__logo{
            width: 100px;  
            padding: 2% 0% 2% 10%;
        }
        
    }

}
